<div class="container">
  <div class="row">
      <div class="col-md-12 text-right">
        <img src="http://www.knowitgroup.com/Global/Logotypes%20and%20Symbols/icon-404.png"/>
      </div>
  </div>
  <div class="body">
    {{outlet}}
  </div>
</div>
