<div class="jumbo">
  <ul class="list-inline">
  {{#each model as |cv|}}
    <li>
        {{#link-to "cv" cv._id }}
        <img src="http://192.168.26.178:8080/api/image/{{cv.employee.image}}" style="width: 150px"/>
        <h3>{{cv.employee.firstname}} {{cv.employee.lastname}}</h3>
        {{/link-to}}
    </li>
  {{/each}}
  </ul>
  <h4>vad är det här då</h4>
  <ul>
      <li>Node.js</li>
      <li>mongodb</li>
      <li>ember</li>
  </ul>
</div>
