<div class="jumbo">
  <ul class="list-inline">
  {{#each model as |cv|}}
    <li>
        {{#link-to "cv" cv._id }}
        <img src="http://localhost:8080/api/image/{{cv.employee.image}}" style="width: 150px"/>
        <h3>{{cv.employee.firstname}} {{cv.employee.lastname}}</h3>
        {{/link-to}}
    </li>
  {{/each}}
  </ul>
</div>
